{% extends 'base.html'%}
{% load static %}


{% include 'parcials/_messages.html'%}

{% block content %}

<div class="content">
    <div class="texto_central">
        <h1 class = "titulo_central">MOBILIZE</h1>
        <h2 class="subtitulo_central">CONSTRUA ATIVAMENTE A MAIOR REDE<br> DE AGENTES CULTURAIS
            DO BRASIL<br>
            </h2>
    </div>


    <div class="icones">
        <div class="icone_1">
            <img src="static/img/mobilize-icon.jpg" class="icone_mobilize"/>
            <h1><a href="{% url 'mobilize' %}" style="text-decoration:none">O PROJETO</a></h1>
            <p>MOBILIZ.ART.BR é uma plataforma
                para conectar artistas, grupos culturais,
                empresários e gestores de eventos.</p>

        </div>

        <div class="icones">
            <div class="icone_2">
            <img src="static/img/cadastre-icon.png" class="icone_mobilize"/>
            <h1><a href="{% url 'cadastrar' %}" style="text-decoration:none">CADASTRE-SE</a></h1>
            <p>Receba notificações em seu telefone sobre
               qualquer pauta cultural que tramite no Congresso nacional.</p>

        </div>

    </div>
</div>
    </div>
</body>

</html>

{% endblock %}