{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
<h3 style="text-align: center;"><span style="color: #000080;"><b>O MOBILIZ.ART.BR</b><span style="font-weight: 400;"> É uma plataforma web direcionada para
    artistas, bandas, grupos culturais, empresários e gestores de eventos. </span></span></h3>
<h3 style="text-align: center;"><span style="font-weight: 400; color: #000080;">O MOBILIZ.ART.BR tem dois propósitos:</span></h3>
<h4 style="text-align: center;"><span style="font-weight: 400; color: #000080;">Aproximar produtores de eventos e empresários com a classe artística, com o objetivo
    de facilitar a ponte das negociações para contratos de shows, </br> eventos e editais diretamente com os artistas.
    Neste sentido, a plataforma serve como um grande portfólio de bandas e artistas, interconectando a própria categoria da
    cadeia produtiva da cultura e, por sua vez, estes com empresários e gestores de eventos no país todo. </span></h4>
<h4 style="text-align: center;"><span style="background-color: transparent; color: #000080;">O site terá uma seção de mobilização social de artistas / bandas, para intervenção
    direta em pautas de cultura do congresso nacional. Esta seção puxará para um blog, através da API do site da Câmara
    e do Senado Federal, todas as pautas levantadas nas comissões de cultura, e outras, que tenham incidência direta
    sobre os direitos da classe dos artistas. Através do cadastro efetuado por bandas e artistas, será criado um banco
    de dados para mobilização através do envio de alertas de tramitação de matérias e projetos de leis do Congresso
    Nacional diretamente para os aparelhos celulares de todos os cadastrados.</span></h4>
</div>
{%endblock%}