{%extends 'base.html'%}

{%block content%}
<div class="content_interno">
    <div class="texto_central">
        <h1 class ="titulo_central">MOBILIZ.ART.BR</h1>
        <h2 class="subtitulo_central"><strong>CONHEÇA NOSSOS PROPÓSITOS:</strong></h2>
        <br><br>
    </div>

    <div class="icones">
        <div class="icone_1">

            <p class="subtitulo_mobilizar">Aproximar produtores de eventos e empresários com a classe artística,
                com o objetivo de facilitar a ponte das negociações para contratos de shows,
                eventos e editais diretamente com os artistas. A plataforma será um grande
                portfólio para conectar bandas e artistas com instituições de fomento, empresários e gestores de eventos do Brasil.</p>

        </div>

        <div class="icones">
            <div class="icone_2">
                <p class="subtitulo_mobilizar">Mobilizar a classe artística para intervenções diretas
                    em pautas de cultura do Congresso Nacional. Nosso blog terá atualizações automatizadas através da API dos
                    sites da Câmara e do Senado Federal. Todas as pautas levantadas nas comissões serão notificadas
                    diretamente nos celulares de todos os cadastrados na plataforma.</p>

            </div>
        </div>
    </div>
</div>
</body>

{%endblock%}

