{% extends 'base.html'%}
{% load static %}

{%block content%}

<div class="titulo"> PREENCHA O FORMULÁRIO </div>

<br> <br>
{% include 'parcials/_messages.html'%}

<div class="content_interno2">
<div class="container">
    <br><br><br><br>
    <form action="{%url 'cadastrar'%}" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <table class="table">
            {{form}}
            <tr>
                <td colspan="2">
                    <br>
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>


{%endblock%}