{% extends 'base.html'%}

{%block content%}
{% include 'parcials/_messages.html'%}

<table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>CPF</th>
          <th>E-mail</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>

        {% for artista in artistas %}
          <tr>
            <td> {{ artista.id }}</td>
            <td>
              <a href="{% url 'detalhe_artista' artista.id %}"> {{ artista.nome }} </a>
            </td>
           <td>
              <a href="{% url 'detalhe_artista' artista.id %}"> {{ artista.sobrenome }} </a>
            </td>
            <td>{{ artista.cpf }}</td>
            <td>{{ artista.email }}</td>
            <td>{{ artista.categoria }}</td>

          </tr>
        {%endfor%}
      </tbody>
    </table>
{%endblock%}