<body>
<div class="header">
    <div class="opacidade">
        <div class="menu">
            <ul class="texto_menu">
                <li><a href="{% url 'index' %}">INÍCIO</a></li>
                <li><a href="{% url 'mobilize'%}">MOBILIZE</a></li>
                <li><a href="{% url 'cadastrar'%}">CADASTRO</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>
        </div>
        <div class="logo"></div>
        <a href="{% url 'index'%}"><img src="/static/img/marca.png" class="logo_header"></a>

    </div>
</div>
</body>